.canvas-smoke {
    position: relative;
    width: 40px;
    height: 40px;           
    background-image: url("@/assets/img/smoke.gif");
    background-size: cover;
    background-repeat: no-repeat; 
    transform: translateY(-50%);
}
