{{ define "main" }}

{{ $page := . }}
{{ if .Params.Lat }}
<script id="location" type="application/json">
    {
        "lat": {{ .Params.lat }},
        "lng": {{ .Params.lng }}
    }
</script>
{{ end }}

<div itemscope itemtype="https://schema.org/NewsArticle" class="post">
    {{ with .Params.Hero }}
        {{ $image := resources.Get . | fingerprint }}
        <div class="post-hero">
            <img
                itemprop="image" 
                width="{{ $image.Width }}"
                height="{{ $image.Height }}"
                height="auto"
                style="width:100%;height:auto;"
                alt="{{ $page.Title | plainify }}"
                src="{{ $.Site.Params.cdnURL }}{{ $image.RelPermalink }}"
            >
        </div>
    {{ end }}

    <span itemprop="contentLocation">
         <span itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="{{ .Params.lat }}" />
            <meta itemprop="longitude" content="{{ .Params.lng }}" />
         </span>
    </span>

    <h1 itemprop="headline" class="post-title">
        {{ .Title | markdownify }}
    </h1>

    <p itemprop="datePublished" content="{{ .Date | time.Format "2006-01-02" }}" class="text-muted">
        {{ .Date | time.Format ":date_long" }}
    </p>

    <div itemprop="articleBody" class="post-content">
        {{- with .Content -}}
          {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"></a> ${3}` | safeHTML }}
        {{- end -}}
    </div>
</div>
{{ end }}
