@import "reset";
@import "theme";
@import "mixins";
@import "utils";
@import "typo";
@import "page-header";
@import "page-footer";
@import "timeline";
@import "main-collapsed";

html, body {
    font-family: arial,sans-serif;
    font-size: 18px;
    line-height: 1.4;
    background: rgba(var(--color-html), 1);
    color: rgba(var(--color-text), 1);
    overflow: hidden;
}

#app {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

main {
    position: relative;
    z-index: 1000;
    top: 0;
    padding: 10px;
    bottom: 40px; 
    left: 0;
    width: 100%;
    max-width: var(--main-width);      
    max-height: calc(100% - 40px); // leave the space for map attribution;
    margin-bottom: auto;
    display: flex;

    @include firefox {
        max-height: calc(100vh - 40px); // leave the space for map attribution;
    }

    @include phone {
        max-width: 100%;
    }
}

.main-container {
    background: rgba(var(--color-bg), .6);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: var(--main-ident);
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    overflow-y: auto;
    position: relative;

    @include phone {
        background: rgba(var(--color-bg), .8);
        max-width: calc(var(--main-width) + var(--main-ident));
        margin: 0 auto;
    }
}

.post-hero {
    margin-top: calc(var(--main-ident) * -1);
    margin-left: calc(var(--main-ident) * -1);
    margin-right: calc(var(--main-ident) * -1);
}

.footnote-ref {
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

.footnotes {
    li {
        list-style-type: decimal;
        list-style-position: inside;

        &::marker {
            color:rgba(var(--color-muted), 1);
        }
    }

    p {
        display: inline;
    }

    hr {
        display: none;
    }

    color: var(--color-muted);

    .footnote-backref {
        display: none;
    }
}

ul.pagination {
    display: flex;
    gap: 10px;

    a {
        color: rgba(var(--color-text), 1);
        text-decoration: none;
    }

    a[aria-current], a[aria-disabled] {
        color: rgba(var(--color-muted), 1);
    }
}