.marker-fire {
    position: relative;
    height: 40px;        
    width: 40px;
    background-image: url("/core/fire.gif");
    background-size: 280%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transform: translateY(-20%);
}

.marker-smoke {
    position: relative;
    width: 40px;
    height: 40px;           
    background-image: url("/core/smoke.dark.gif");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    opacity: 0.75;
}

.marker-arrow {
    position: relative;
    height: 40px;        
    width: 40px;
    background-image: url("/core/arrow.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(60%, 60%);
}