.page-footer {
    border-top: var(--color-border) 1px solid;
    padding-top: 10px;
    font-size: var(--font-size-small);
    color: rgba(var(--color-muted), 1);

    a {
        color: rgba(var(--color-text), 1);
    }
}