<footer class="page-footer">
  <p>
    © {{ now.Year }} {{ $.Site.Copyright }}

    {{ with $.File }}
    <a class="footer-nav-a" target="_blank" rel="nofollow" href='{{ $.Site.Params.editURL }}{{ replace $.File.Dir "\\" "/" }}{{ .LogicalName }}'>
      {{ T "editThisPage" }}
    </a>
    {{ end }}
  </p>

  <p class="small" style="text-transform: uppercase">
    {{ T "footerWarning" }}
  </p>  
</footer>

<button id="toggle" type="button" class="page-footer-collapse page-footer-button">
  <img src="/icon-collapse.svg" width="24px" height="24px" alt="Collapse">
</button>

{{ with $.Site.Params.github }}
<a class="page-footer-button" target="_blank" rel="nofollow" href="{{ . }}">
    <img src="/icon-github.svg" width="24px" height="24px" alt="GitHub">
  </a>    
{{ end }}  
