<footer class="page-footer">
  <p>
    © {{ now.Year }} {{ $.Site.Copyright }}

    {{ with $.Site.Params.github }}
    <a class="footer-nav-a" target="_blank" href="{{ . }}">GitHub</a>
    {{ end }}

    {{ with $.File }}
    <a class="footer-nav-a" target="_blank" href='{{ $.Site.Params.editURL }}{{ replace $.File.Dir "\\" "/" }}{{ .LogicalName }}'>
      {{ T "editThisPage" }}
    </a>
    {{ end }}
  </p>

  <p class="mb-0 small" style="text-transform: uppercase">
    {{ T "footerWarning" }}
  </p>
</footer>