{{ define "main" }}

<h1 class="post-title">
    {{ .Title | markdownify }}
</h1>

{{- with .Content -}}
{{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"></a> ${3}` | safeHTML }}
{{- end -}}

{{ range .Paginator.Pages.GroupByDate ":date_medium" }}
    {{ $page := index .Pages 0 }} <!-- Each group has at least 1 page -->
    <!-- <p class="mb-0">{{ .Key }}</p> -->
    <p class="small text-muted mb-0">
        <i>{{.Key}}</i>
    </p>  

    {{ range .Pages.ByDate }}    
        <ul>
        <li>    
            <!-- <p class="small text-muted">
                <i>{{.Date | time.Format ":date_medium"}}</i>
            </p>             -->
            <p class="mb-0">
                <a href="{{.Permalink}}">{{.Title}}</a>
            </p>
        </li>
        </ul>
    {{ end }}
{{ end }}

{{ end }}